build --modify_execution_info=PackageTar=+no-remote
build --remote_build_event_upload=minimal
build --remote_local_fallback
build --strategy=Scalac=worker
build --worker_sandboxing

common --incompatible_allow_tags_propagation
