build --experimental_allow_tags_propagation
build --experimental_remote_build_event_upload=minimal
build --experimental_reuse_sandbox_directories
build --incompatible_default_to_explicit_init_py
build --incompatible_remote_results_ignore_disk
build --incompatible_strict_action_env
build --keep_going
build --modify_execution_info=PackageTar=+no-remote
build --noexperimental_check_output_files --noexperimental_check_external_repository_files
build --nolegacy_external_runfiles
build --noremote_upload_local_results
build --remote_local_fallback
build --sandbox_default_allow_network=false
build --strategy=Scalac=worker
build --show_result=20
build --worker_sandboxing

common --enable_platform_specific_config
common --incompatible_allow_tags_propagation

fetch --experimental_allow_tags_propagation
fetch --noexperimental_check_output_files

query --experimental_allow_tags_propagation
query --noexperimental_check_output_files

startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

test --incompatible_exclusive_test_sandboxed
test --test_output=errors
test --test_verbose_timeout_warnings

test:debug --test_output=streamed
test:debug --test_strategy=exclusive
test:debug --test_timeout=9999
test:debug --nocache_test_results
